.button{
	background-color:#EDBABA;
	border-radius: 10px;
	color: black;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	width: 150px;
	height: 41px;
	margin-top: 20px;
	width: 100%;
	min-width: 50px; 
   	max-width: 300px;
   	font-family: Roboto;
}
#home{
	margin-left: 800px;
	border: none; 
}
#homeBold{
	margin-left: 800px;
	border: 2px solid #000000;
}
#aboutme{
	border: none;
	margin-left: 830px;
}
#aboutmeBold{
	border: 2px solid #000000;
	margin-left: 830px;
}
#contact{
	border: none;
	margin-left: 860px;
}
#contactBold{
	border: 2px solid #000000;
	margin-left: 860px;
}
#gallery{
	border: none;
	margin-left: 890px;
}
#galleryBold{
	border: 2px solid #000000;
	margin-left: 890px;
}
#hello{
	padding-top: 200px;
	padding-left: 350px;
	font-weight: bold;
	font-size: 60px;
}
.photo{
	padding-top: 200px;
}
.font{
	font-family: Roboto; 
}
#im{
	padding-left: 430px;
	font-weight: normal;
	font-size: 44px;
}
#name{
	padding-left: 300px;
	font-weight: normal;
	font-size: 54px;
}
#judul{
	font-size: 36px;
	font-weight: bold;
	padding-left: 50px;
	background-color: #000000;
	color: #FFFFFF;
}
#isi{
	font-size: 24px;
	font-weight: bold;
	padding-left: 50px;
}
#cgt{
 	margin-left: 110px;
}
#imgexperience{
	margin-top: 70px;
 	margin-left: 110px;
}
#staff{
	text-align: center;
	font-weight: bold;
	padding-left: 0px;
}
.rectangle{
	width: 600px;
	height: 180px;
	margin-left: 370px;
	border-radius: 40px;
}
.blue{
	margin-top: 60px;
	margin-bottom: 20px;	
	background: #20639B;
}
.lightblue{
	margin-top: 0px;
	background: #CEDCE9;
}
#componentimg{
	margin-top: 45px;
}
#component1img{
	margin-top: 45px;
	margin-left: 55px;
}
#ig{
	margin-top: 10px;
	margin-left: 450px;
}
#facebook{
	margin-top: 10px;
	margin-left: 460px;
}
#twitter{
	margin-top: 15px;
	margin-left: 470px;
}
#linkedin{
	margin-top: 10px;
	margin-left: 480px;
}
#line{
	margin-top: 110px;
}
#imgatas{
	width: 400px;
	height: 300px;
	margin-left: 15px;
	margin-top: 10px;
}
#imgbawah{
	width: 400px;
	height: 300px;
	margin-left: 15px;
	margin-top: 10px
}